<h1>Dream Details</h1>

<h1><%= @dream[:title] %></h1>
<p>Date: <%= @dream[:date] %></p>
<p>Description: <%= @dream[:description] %></p>
<p>Type of Dream: <%= @dream[:type_of_dream] %></p>

<%= link_to 'Back to Dream Journal Index', dreams_path %>